* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #688E29;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    font-family: "Poppins", sans-serif;

}

.cabecalho-imagem {
    width: 15%;

}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;

}

.escola-imagem {
    width: 15%;

}

.escola {
    background-image: linear-gradient(#79901C, #4EBFE9);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    font-family: "Poppins", sans-serif;

}

.escola-div-conteudo {
    width: 35%;

}

.escola-titulo {
    padding: 24px 0;
    font-size: 35px;
}

.estudante-imagem {
    width: 200px;
}

.estudante-icone {
    width: 40px;
}

.estudante-div{
    text-align: center;
    padding: 20px 20px;
}

.estudante{
    background-color: #4EBFE9;
}

.estudante-titulo{
    text-align: center;
    font-size: 32px;
    padding: 30px 0;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.rodape{
    background-color: #2F8CC0;
    text-align: center;
}

.rodape-imagem{
    height: 20px;
    padding: 13px 0;
}